body {
  background-image: url("../img/kirawants.jpeg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center; 
  background-attachment: fixed;
  background-size: 80%;


}

#pupilleft,
#pupilright,
#dogpupilleft,
#dogpupilright {
  position: relative;
  background: #000000;
  border-radius: 50%;
}

#dogeyeleft,
#dogeyeright {
  position: absolute;
  background: rgba(134, 83, 79, 0.45);
  overflow: hidden;
  border-radius: 50%;
}


#dogpupilleft {
  width: 10px;
  height: 10px;
}

#dogeyeleft
{
  width: 20px;
  height: 20px;  
  left: 37%; 
  top: 30%;
}

#dogpupilright{
  width: 10px;
  height: 10px;
}

#dogeyeright {
  width: 20px;
  height: 20px;
  left: 48.6%;
  top: 32%;
}